@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden;    /* Ensures the text is hidden until revealed */
  border-right: 4px solid var(--color-text); /* Simulates a blinking cursor */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.contactBtn:hover{
  background: rgb(54, 54, 54);
}

.heroImg {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(70, 0, 0, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
 
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(109, 25, 36, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 48px;
  }
  .description {
    font-size: 24px;
  }
  .contactBtn {
    font-size: 24px;
    padding: 12px 20px;
  }
  .heroImg {
    width: 80%;
  }
}